<nav class="navbar navbar-expand navbar-light p-0 navbar-widget">
  <div class="container">
    <a href="/" class="navbar-brand">UnVision</a>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbar-profile" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-gear fa-lg"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbar-profile">
          {% if request.user %}
            <li>
              <a class="dropdown-item" href="/profile">
                <i class="fa fa-user"></i>
                <span class="ms-1">Profile</span>
              </a>
            </li>
            <li>
              <form action="/auth/logout" method="post">
                <button type="submit" class="dropdown-item">
                  <i class="fa fa-right-from-bracket"></i>
                  <span class="ms-1">Logout</span>
                </button>
              </form>
            </li>
          {% else %}
            <li>
              <a class="dropdown-item" href="/auth/login">
                <i class="fa fa-right-to-bracket"></i>
                <span class="ms-1">Sign In</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="/auth/register">
                <i class="fa fa-user-plus"></i>
                <span class="ms-1">Sign Up</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </li>
    </ul>
  </div>
</nav>
