{% extends "../base.njk" %}

{% block customcss %}
  <link rel="stylesheet" href="/static/css/auth/login.css">
{% endblock %}

{% block content %}
  <div class="container-fluid d-flex justify-content-center align-items-center min-vh-100">
    <div class="form-widget">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h4>Sign In</h4>
      </div>

      <form action="/auth/login" method="post">
        <input type="hidden" name="_csrf" value="{{ request.csrfToken() }}"/>

        {% if login_challenge %}
          <input type="hidden" name="login_challenge" value="{{ login_challenge }}"/>
        {% endif %}

        <div class="form-group d-flex align-items-center ps-2 mt-3 input-group-widget">
          <div class="icon d-flex align-items-center justify-content-center">
            <i class="fa fa-user"></i>
          </div>
          <input type="text" name="username" class="form-control input-text-widget" id="username" placeholder="Username" required/>
        </div>

        <div class="form-group d-flex align-items-center ps-2 mt-3 input-group-widget">
          <div class="icon d-flex align-items-center justify-content-center">
            <i class="fa fa-lock"></i>
          </div>
          <input type="password" name="password" class="form-control input-text-widget" id="password" placeholder="Password" required/>
        </div>

        <div class="text-end mt-3">
          <a href="#" class="link link-widget">Forgot your password?</a>
        </div>

        <div class="form-group mt-4">
          <button type="submit" class="btn btn-widget w-100">Sign In</button>
        </div>
      </form>

      <div class="d-flex flex-column justify-content-center align-items-center mt-3">
        <span class="text-muted">Not registered?</span>
        <a href="/auth/register" class="link link-widget">Sign Up!</a>
      </div>
    </div>

    <div class="toast-container position-fixed bottom-0 start-50 translate-middle-x p-3">
      {% for message in success %}
        <div class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="d-flex">
            <div class="toast-body">{{ message }}</div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
      {% endfor %}

      {% for message in error %}
        <div class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="d-flex">
            <div class="toast-body">{{ message }}</div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block customjs %}
  <script type="text/javascript">
    document
      .querySelectorAll('.toast')
      .forEach((element) => bootstrap.Toast.getOrCreateInstance(element).show());
  </script>
{% endblock %}
