{% extends "../base.njk" %}

{% block customcss %}
  <link rel="stylesheet" href="/static/css/auth/register.css">
{% endblock %}

{% block content %}
  <div class="container-fluid d-flex justify-content-center align-items-center min-vh-100">
    <div class="form-widget">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h4>Sign Up</h4>
      </div>

      <form action="{{ request.originalUrl }}" method="post">
        <input type="hidden" name="_csrf" value="{{ request.csrfToken() }}"/>

        <div class="form-group d-flex align-items-center ps-2 mt-3 input-group-widget">
          <div class="icon d-flex align-items-center justify-content-center">
            <i class="fa fa-user"></i>
          </div>
          <input type="text" name="username" class="form-control input-text-widget" id="username" placeholder="Username" required/>
        </div>

        <div class="form-group d-flex align-items-center ps-2 mt-3 input-group-widget">
          <div class="icon d-flex align-items-center justify-content-center">
            <i class="fa fa-lock"></i>
          </div>
          <input type="password" name="password" class="form-control input-text-widget" id="password" placeholder="Password" required/>
        </div>

        <div class="form-group mt-5">
          <button type="submit" class="btn btn-widget w-100">Sign Up</button>
        </div>
      </form>

      <div class="d-flex flex-column justify-content-center align-items-center mt-3">
        <span class="text-muted">Already registered?</span>
        <a href="/auth/login" class="link link-widget">Sign In!</a>
      </div>
    </div>
  </div>
{% endblock %}
